.card {
    position: relative;
    border: 1px solid black;
    margin-bottom: 5px;
    height: 140px;
    line-height: 1;
    padding: 1px;
    background: #f5f5f5;
}

.containerItem {
    display: flex;
    margin-top: -15px;
    text-align: left;
    padding: 3px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 50px;
    width: 250px;
    text-wrap: wrap;
}

.title {
    margin-top: -15px;
    font-weight: 700;
    text-wrap: nowrap;
}

.buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}