.addContainer {
    display: flex;
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
    flex-direction: column;
    border-radius: 8px;
}

.inputFields {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.addInputTitle {
    height: 40px;
    padding: 1px 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.addInputTitle input {
    display: flex;
    border-radius: 5px;
    outline: none;
    text-wrap: nowrap;
}

.addInputDescription textarea {
    height: 80px;
    width: 550px;
    margin-bottom: 3%;
    resize: none;
    border-radius: 8px;
}

.addInputDescription {
    height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}

.buttonContainer {
    position: relative;
    float: right;
    font-weight: bold;
    top: 16px;
    right: 8px;
}

.buttonContainer button {
    background-color: #4CAF50;
    color: white;
    width: auto;
    display: flex;
    justify-content: flex-end;
    margin-left: 15px;
}

.buttonContainer .button:hover {
    background-color: #008514;
}


@media screen and (max-width: 395px) {
    .addInputDescription textarea {
        height: 80px;
        width: 250px;
        margin-bottom: 3%;
        resize: none;
        border-radius: 8px;
    }
}